
<img src="https://t3.ftcdn.net/jpg/00/55/67/14/240_F_55671452_FHRjT1VxswDnCebufAcQVEdAwtggVAaa.jpg">

<h1>Your in main page</h1>

<p>your locked as opened.....</p>

<li><a href="/logout">logout</a></li>