<h1>register</h1>

<form action="/reg" method="POST">
    <input type="text" name="username" placeholder="username"><br><br>
    <input type="password" name="password" placeholder="password"><br><br>
    <button>register</button>
</form>

<li><a href="/login">login</a></li>
